{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="content">
        {{ content|raw }}
    </div>

    <!-- Section pour le futur formaulaire de contact -->
    <div id="contact-form">
        <h2>Contact Us</h2>
        {{ form(form) }}
    </div>

    <!-- Section pour le futur blog -->
    <div id="blog">
        <h2>Blog</h2>

    </div>
{% endblock %}
