{# templates/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accès Refusé !{% endblock %}

{% block body %}
    <h1 style="color: red;">Accès Interdit</h1>
    <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
    <a href="{{ path('app_logout') }}" class="btn btn-primary">Déconnexion</a>
{% endblock %}