{% extends 'base.html.twig' %}

{% block title %}New WebsiteSettings{% endblock %}

{% block body %}
    <h1>Create new WebsiteSettings</h1>

    {{ include('website_settings/_form.html.twig') }}

    <a href="{{ path('app_website_settings_index') }}">back to list</a>
{% endblock %}
